body{
    font-family: 'JetBrains Mono', monospace;
    
}

.contagem h1{
    font-size: 19px;
    font-weight: 700;
}

.contagem h5{
    padding-top: 10px;
    font-size: 25px;
    font-weight: 200;
}

.subtitle-card{
    font-weight: 200;
}

#imgCopa{
    height: 10% !important;
}
#title{
    font-size: 22px;
}

.title-card{
    font-size: 12px;
    font-weight: 700;
}

.link{
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
}

#noticias{
    font-weight: 700;
    font-size: 25px;
}

#imgCopa img{
    width: 100%;
}